.container {
  flex: 1;
  padding: 2rem 1.5rem;
  padding-bottom: calc(9rem + env(safe-area-inset-bottom));
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  animation: fadeIn var(--transition-base);
}

@media (min-width: 768px) {
  .container {
    padding: 3rem 2.5rem;
    padding-bottom: 2rem;
  }
}

